* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/*navigation*/

.nav-container {
  background: #4c566a;
  height: 120px;
}

.wrapper {
  max-width: 1428px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

nav ul {
  display: flex;
}

.nav-items li {
  list-style: none;
  margin-right: 50px;
}

.nav-items li:nth-last-of-type(1) {
  margin-right: 30px;
}

.nav-items li a {
  color: #2e3440;
  font-size: 24px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}

.nav-items li:nth-child(2) {
  background-color: #ea918d;
  padding: 5px;
  border-radius: 25px;
}

.nav-items li:nth-child(1) {
  padding: 5px;
}

/* Header */

.header-container {
  background-color: #e5e5e5;
}

.hero-container {
  color: #2e3440;
}

h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 75px;
  margin-top: 17.5%;
  margin-left: 150px;
}

form {
  margin-top: 30px;
  margin-left: 150px;
  width: 80%;
  height: 97px;
  display: flex;
}

input {
  all: unset;
  font: 16px system-ui;
  background-color: white;
  color: #000000;
  height: 55px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

button {
  border-radius: 25px;
  border: none;
  background-color: #ea918d;
  width: 191px;
  height: 55px;
  margin-left: 30px;
  margin-top: 10px;
}

/* Footer */

.footer-container {
    margin-top: 9.9%;
    margin-left: 17.8%;
  width: 1578px;
  height: 199px;
  left: 150px;
  top: 918px;
  background: rgba(76, 86, 106, 0.8);
}

.footer-items li {
  list-style: none;
  margin-right: 50px;
}

.footer-items li a {
    color: #2e3440;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    text-decoration: none;
}
